<nav class='navbar navbar-expand navbar-light bg-light'>
  <ul class='navbar-nav'>
    <li class='nav-item'><a class='nav-link' routerLinkActive='active'
          [routerLink]="['/home']">Home</a>
    </li>
    <li class='nav-item'><a class='nav-link' routerLinkActive='active'
      [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/user-list']">Users List</a>
    </li>
    <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
          [routerLink]="['/user-edit/0']">Add User</a>
    </li>
  </ul>
</nav>

<hr>
<div class='container'>
  <router-outlet></router-outlet>
</div>
