<div class="row">
  <div class="col-md-12">
    <h2>User List</h2>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
<div class="table-responsive">
  <table class="table mb-0" *ngIf="users && users.length">
    <thead>
      <tr>
        <th>

        </th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Identity Number</th>
        <th>Edit</th>
        <th>Detail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
        </td>
        <td>
          <a [routerLink]="['/user-detail', user.id]">{{ user.firstName }}</a>
        </td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.email}}</td>
        <td>{{ user.identityNumber}}</td>
        <td>
          <button class="btn btn-outline-primary btn-sm" [routerLink]="['/user-edit', user.id]">
            Edit
          </button>
        </td>
        <td>
            <button class="btn btn-outline-primary btn-sm" [routerLink]="['/user-detail', user.id]">
              Detail
            </button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
