<div class="row">
  <div class="col-md-12 text-md-center">
    <h1>Derivco Test</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>

<div class="row">
    <div class="col-md-12 text-md-center">
      <h2>By: Aidin Teymouri</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-md-center">
      <ul>
        <li><a href="https://github.com/AidinTeymouri/DemoUserAPI">GitHub Back End Source Code</a></li>
        <li><a href="https://github.com/AidinTeymouri/derivco-test">GitHub Front End Source Code</a></li>
      </ul>
    </div>
  </div>

